@model IEnumerable<roundthecode.pdf.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Student Grades</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Record</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrdaeLvl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstgrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Secondgrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thirdgrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Average)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrdaeLvl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstgrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secondgrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thirdgrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Average)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
